// bower:scss
// endbower

.about-container {
  #mainCarousel {
    padding: 0;
    .slide-section {
      width: 50%;
      //height: 100%;
      background-color: white;
      float: left;
      height: 420px;
      .slide-caption {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 64px;
        text-align: center;
        p {
          font-size: 15px;
          &.title-about {
            border-bottom: 1px solid #924e7d;
            padding: 0 0 10px;
            width: 80%;
            margin: 0 auto 10px;
            span {
              color: #924e7d;
              font-family: "brownbold", Helvetica, Arial, sans-serif;
              line-height: 1.6;
              letter-spacing: .25em;
              font-size: 24px;
            }
          }
        }
      }
      &.slide-image-1 {
        background-image: url("../images/your_event.jpg");
      }
      &.slide-image-2 {
        background-image: url("../images/our_fizz.jpg");
      }
      &.slide-image-3 {
        background-image: url("../images/your_event.jpg");
      }
    }

    .carousel-indicators {
      bottom: -40px;
      li {
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-radius: 0;
      }
      .active {
        width: 15px;
        height: 15px;
        margin: 1px;
        background-color: #924e7d;
        border: 1px solid #924e7d;
      }
    }

    .carousel-control {
      opacity: 1;
      text-shadow: 0;
      &.right,
      &.left {
        background: none;
        border: 0 !important;
        cursor: pointer;
        background-color: white;
        width: 54px;
        height: 60px;
        margin: auto 0;
        span {
          font-size: 55px;
        }
      }
      .glyphicon.glyphicon-chevron-right {
        border-right: 3px solid #924e7d;
        border-bottom: 3px solid #924e7d;
        width: 12px;
        height: 12px;
        transform: rotate(-45deg);
        margin-top: -6px;
        margin-right: -4px;
        &:before {
          content: "" !important;
        }
      }
      .glyphicon.glyphicon-chevron-left {
        border-right: 3px solid #924e7d;
        border-bottom: 3px solid #924e7d;
        width: 12px;
        height: 12px;
        transform: rotate(135deg);
        margin-top: -6px;
        margin-left: -4px;
        &:before {
          content: "" !important;
        }
      }
    }
  }
}
