// bower:scss
// endbower

.contact-container {
  .contact-map {
    border: 1px solid black;
  }
  form {
    margin: 0 auto;
    text-align: left;
    font-family: "baskvl", Helvetica, Arial, sans-serif;
    label {
      line-height: 22px;
      font-size: 14px;
      font-weight: normal;
    }
    input, textarea {
      border: 0;
      border-radius: 0;
      padding: 20px;
      font-size: 14px;
      width: 100% !important;
    }
    textarea {
      height: 150px;
    }
  }
  p {
    text-align: left;
    span {
      color: #924e7d;
      font-family: "brownbold", Helvetica, Arial, sans-serif;
      line-height: 1.6;
      text-transform: uppercase;
      letter-spacing: .25em;
    }
    &.title-contact {
      border-bottom: 1px solid #924e7d;
      padding: 0 0 10px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    .contact-form {
      padding: 0 15px !important;
    }
    form {
      .row {
        margin: 0 !important;
      }
    }
  }
}


