// bower:scss
// endbower

.footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  > div.container {
    padding: 20px 0 15px;
  }
  .to-top {
    background: url("../images/top_70.png") no-repeat;
    position: absolute;
    bottom: 90px;
    right: 90px;
    width: 24px;
    height: 93px;
    text-indent: -99999px;
    &:focus, &:active {
      border: 0;
      outline: none;
    }
    &:hover {
      background-image: url("../images/top_100.png");
    }
    display: none;
  }

  .copyright {
    color: #924e7d;
    font-family: "brownregular", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 13px;
    z-index: 11;
  }

  @media screen and (min-width: 62em) {
    .to-top {
      display: block;
    }
  }

  @media screen and (min-width: 42em) {

    .copyright {

    }
  }

}
