// bower:scss
// endbower

.gallery-container {
  .thumbnail-padding {
    padding: 0;
    margin: 20px 10px 10px;
  }
  .thumbnail {
    width: 100%;
    padding: 0;
    margin: 5px 0;
    border: 0;
    border-radius: 0;
    opacity: 0.5;
    background-color: transparent;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
  }
  #galleryCarousel {
    .carousel-inner {
      height: 500px;
      background-color: transparent;
      > .item {
        vertical-align: middle;
        height: 100%;
        > img {
          margin: auto;
          height: 100%;
        }
      }
    }
    padding: 0;
    .carousel-indicators {
      display: none;
    }

    .carousel-control {
      opacity: 1;
      text-shadow: 0;
      &.right,
      &.left {
        background: none;
        border: 0 !important;
        cursor: pointer;
        margin: auto 0;
        span {
          font-size: 0;
        }
      }
      &.left {
        left: -100px;
      }
      &.right {
        right: -100px;
      }
      .glyphicon.glyphicon-chevron-right {
        width: 11px;
        height: 16px;
        &:before {
          content: url("../images/right_arrow.png") !important;
        }
      }
      .glyphicon.glyphicon-chevron-left {
        width: 11px;
        height: 16px;
        &:before {
          content: url("../images/left_arrow.png") !important;
        }
      }
    }
  }
}
