// bower:scss
// endbower

.gallery-container {
  .thumbnail-padding {
    padding: 0;
    margin: 10px 0 10px;
    width: 19%;
    display: inline-block;
    margin-left: 1.25%;
    &.no-left {
      margin-left: 0;
    }
  }
  .thumbnail {
    width: 100%;
    padding: 0;
    margin: 5px 0;
    border: 0;
    border-radius: 0;
    opacity: 0.5;
    background-color: transparent;
    cursor: pointer;
    img {
      width: 100%;
    }
    &.active {
      opacity: 1;
    }
  }
  #galleryCarousel {
    .carousel-inner {
      height: 500px;
      background-color: transparent;
      @media screen and (max-width: 700px) {
        height: 300px;
        width: 300px;
        margin: 0 auto;
      }
      > .item {
        vertical-align: middle;
        height: 100%;
        > img {
          margin: auto;
          height: 100%;
        }
      }
    }
    padding: 0;
    .carousel-indicators {
      display: none;
    }

    .carousel-control {
      opacity: 1;
      text-shadow: 0;
      &.right,
      &.left {
        background: none;
        border: 0 !important;
        cursor: pointer;
        margin: auto 0;
        span {
          font-size: 0;
        }
      }
      &.left {
        left: -100px;
      }
      &.right {
        right: -100px;
      }
      @media screen and (max-width: 768px) {
        &.left {
          left: -5px;
        }
        &.right {
          right: 0;
        }
      }
      .glyphicon.glyphicon-chevron-right {
        width: 11px;
        height: 16px;
        @media screen and (max-width: 768px) {
          width: 4px;
        }
        &:before {
          content: url("../images/right_arrow.png") !important;
        }
      }
      .glyphicon.glyphicon-chevron-left {
        width: 11px;
        height: 16px;
        @media screen and (max-width: 768px) {
          width: 4px;
        }
        &:before {
          content: url("../images/left_arrow.png") !important;
        }
      }
    }
  }
}
