// bower:scss
// endbower

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 2.5rem;
  background-color: #fff;

  .header-nav {
    position: relative;
    z-index: 10;
    text-align: center;
    background-color: #fff;
    font-size: 0.8rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .24em;
    .header-logo {
      width: 35%;
      float: left;
      text-align: left;
      img {
        height: 50px;
      }
    }
    .header-social {
      width: 35%;
      float: left;
    }
    .nav_controls {
      float: left;
      width: 30%;
      display: block;
      text-align: center;
      .header_switch {
        font-size: 1rem;
        display: block;
        width: 100%;
        padding: 0.45rem 1.25rem;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .24em;
        background: none;
        border: none;
        color: #924e7d;
        &:focus {
          outline: 0;
        }
      }
    }
    .navigation {
      display: none;
      width: 100%;
      position: absolute;
      margin: 0 auto;
      left: 0;
      background-color: white;
      top: 2.5rem;
    }
    .navigation_list {
      display: inline-block;
      margin: 0;
      list-style: none;
      padding: 0;
    }
    .navigation_item {
      display: block;
      a {
        display: inline-block;
        padding: 1.875em 1.25rem 1.29688em;
        color: #924e7d;
      }
    }

  }

  a.social {
    margin: 18px 0 0 20px;
    cursor: pointer;
    background-image: url("../images/social_media_icons.png");
    width: 20px;
    height: 20px;
    text-indent: -99999px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 7px 0px;
    &.twitter {
      background-position: -20px 0px;
    }
    &.instagram {
      background-position: -52px 0px;
    }
  }
}

@media screen and (min-width: 48.0625em) {
  .header {
    height: 3.125rem;
    .header-nav {
      height: auto;
      background-image: none;
      font-size: .60rem;
      font-weight: 700;
      padding: 0 3.125rem;
      .nav_controls {
        .header_switch {
          font-size: .625rem;
          padding: 1.05rem 1.25rem;
        }
      }
    }
  }
}

@media screen and (min-width: 62em) {
  .header {
    .header-nav {
      font-size: .60rem;
      .header-logo {
        width: 20%;
      }
      .nav_controls {
        display: none;
      }
      .navigation {
        width: 60%;
        display: block;
        float: left;
        position: relative;
        top: 0;
      }
      .navigation_item {
        display: inline-block;
        a {
          padding: 1.875em 1.25rem 1.29688em;
        }
      }
      .header-social {
        width: 20%;
      }
    }
  }
}

@media screen and (min-width: 65.875em) {
  .header {
    .header-nav {
      font-size: .75rem;
      .header-logo {
        width: 15%;
      }
      .navigation {
        width: 70%;
      }
      .navigation_item {
        a {
          padding: 1.375em 1.25rem 1.29688em;
        }
      }
      .header-social {
        width: 15%;
      }
    }
  }
}


//.navbar.navbar-default.navbar-fixed-top {
//  height: 50px;
//  background-color: #ffffff;
//  border: 0;
//  margin: 0 50px;
//  a.social {
//    margin: 18px 0 0 20px;
//    cursor: pointer;
//    background-image: url("../images/social_media_icons.png");
//    width: 20px;
//    height: 20px;
//    text-indent: -99999px;
//    display: inline-block;
//    //margin: 0 10px;
//    background-repeat: no-repeat;
//    background-position: 7px 0px;
//    &.twitter {
//      background-position: -20px 0px;
//    }
//    &.instagram {
//      background-position: -52px 0px;
//    }
//  }
//  a.link {
//    text-transform: uppercase;
//    color: #924e7d;
//    font-size: 16px;
//    margin: 15px 20px;
//    display: inline-block;
//    text-decoration: none;
//    &:hover {
//      text-decoration: none;
//    }
//  }
//
//}

@media screen and (max-width: 768px) {
  .header .header-nav .header-logo img {
    height: 40px;
    padding-left: 15px;
  }
  .header-social {
    padding: 0 15px 0 0;
    a.social {
      margin: 12px 0 0 20px;
    }
  }
}
