.container, .container-fluid {
  max-width: 1080px;
  margin: 0 auto;
  display: block;
  padding: 0 0 50px;
}

@media screen and (max-width: 768px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
