.footer {
  position: relative;
}

.footer .to-top {
  background: url("../images/top_70.png") no-repeat;
  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 24px;
  height: 93px;
  text-indent: -99999px;
  display: none;
}

.footer .to-top:focus, .footer .to-top:active {
  border: 0;
  outline: none;
}

.footer .to-top:hover {
  background-image: url("../images/top_100.png");
}

.footer .copyright {
  color: #924e7d;
  font-family: "brownregular", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 13px;
  z-index: 11;
}

@media screen and (min-width: 62em) {
  .footer .to-top {
    display: block;
  }
}

@media screen and (min-width: 42em) {
  .footer .copyright {
    position: fixed;
    left: 50px;
    bottom: 5px;
  }
}
