.footer {
  position: relative;
}

.footer .to-top {
  background: url("../images/top_70.png") no-repeat;
  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 24px;
  height: 93px;
  text-indent: -99999px;
  display: none;
}

.footer .to-top:focus, .footer .to-top:active {
  border: 0;
  outline: none;
}

.footer .to-top:hover {
  background-image: url("../images/top_100.png");
}

@media screen and (min-width: 62em) {
  .footer .to-top {
    display: block;
  }
}
