.gallery-container .thumbnail-padding {
  padding: 0;
  margin: 20px 10px 10px;
}

.gallery-container .thumbnail {
  width: 100%;
  padding: 0;
  margin: 5px 0;
  border: 0;
  border-radius: 0;
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
}

.gallery-container .thumbnail.active {
  opacity: 1;
}

.gallery-container #galleryCarousel {
  padding: 0;
}

.gallery-container #galleryCarousel .carousel-inner {
  height: 500px;
  background-color: transparent;
}

.gallery-container #galleryCarousel .carousel-inner > .item {
  vertical-align: middle;
  height: 100%;
}

.gallery-container #galleryCarousel .carousel-inner > .item > img {
  margin: auto;
  height: 100%;
}

.gallery-container #galleryCarousel .carousel-indicators {
  display: none;
}

.gallery-container #galleryCarousel .carousel-control {
  opacity: 1;
  text-shadow: 0;
}

.gallery-container #galleryCarousel .carousel-control.right, .gallery-container #galleryCarousel .carousel-control.left {
  background: none;
  border: 0 !important;
  cursor: pointer;
  margin: auto 0;
}

.gallery-container #galleryCarousel .carousel-control.right span, .gallery-container #galleryCarousel .carousel-control.left span {
  font-size: 0;
}

.gallery-container #galleryCarousel .carousel-control.left {
  left: -100px;
}

.gallery-container #galleryCarousel .carousel-control.right {
  right: -100px;
}

.gallery-container #galleryCarousel .carousel-control .glyphicon.glyphicon-chevron-right {
  width: 11px;
  height: 16px;
}

.gallery-container #galleryCarousel .carousel-control .glyphicon.glyphicon-chevron-right:before {
  content: url("../images/right_arrow.png") !important;
}

.gallery-container #galleryCarousel .carousel-control .glyphicon.glyphicon-chevron-left {
  width: 11px;
  height: 16px;
}

.gallery-container #galleryCarousel .carousel-control .glyphicon.glyphicon-chevron-left:before {
  content: url("../images/left_arrow.png") !important;
}
