.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 2.5rem;
  background-color: #fff;
}

.header .header-nav {
  position: relative;
  z-index: 10;
  text-align: center;
  background-color: #fff;
  font-size: 0.8rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .24em;
}

.header .header-nav .header-logo {
  width: 37%;
  float: left;
  text-align: left;
}

.header .header-nav .header-logo img {
  height: 50px;
}

.header .header-nav .header-social {
  width: 40%;
  float: left;
}

.header .header-nav .nav_controls {
  float: left;
  width: 23%;
  display: block;
  text-align: center;
}

.header .header-nav .nav_controls .header_switch {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.45rem 1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .24em;
  background: none;
  border: none;
  color: #924e7d;
}

.header .header-nav .nav_controls .header_switch:focus {
  outline: 0;
}

.header .header-nav .navigation {
  display: none;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  background-color: white;
  top: 2.5rem;
}

.header .header-nav .navigation_list {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 0;
}

.header .header-nav .navigation_item {
  display: block;
}

.header .header-nav .navigation_item a {
  display: inline-block;
  padding: 1.875em 1.25rem 1.29688em;
  color: #924e7d;
}

.header a.social {
  margin: 18px 0 0 20px;
  cursor: pointer;
  background-image: url("../images/social_media_icons.png");
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 7px 0px;
}

.header a.social.twitter {
  background-position: -20px 0px;
}

.header a.social.instagram {
  background-position: -52px 0px;
}

@media screen and (min-width: 48.0625em) {
  .header {
    height: 3.125rem;
  }
  .header .header-nav {
    height: auto;
    background-image: none;
    font-size: .60rem;
    font-weight: 700;
    padding: 0 3.125rem;
  }
  .header .header-nav .nav_controls .header_switch {
    font-size: .625rem;
    padding: 1.05rem 1.25rem;
  }
}

@media screen and (min-width: 62em) {
  .header .header-nav {
    font-size: .60rem;
  }
  .header .header-nav .header-logo {
    width: 20%;
  }
  .header .header-nav .nav_controls {
    display: none;
  }
  .header .header-nav .navigation {
    width: 60%;
    display: block;
    float: left;
    position: relative;
    top: 0;
  }
  .header .header-nav .navigation_item {
    display: inline-block;
  }
  .header .header-nav .navigation_item a {
    padding: 1.875em 1.25rem 1.29688em;
  }
  .header .header-nav .header-social {
    width: 20%;
  }
}

@media screen and (min-width: 65.875em) {
  .header .header-nav {
    font-size: .75rem;
  }
  .header .header-nav .header-logo {
    width: 15%;
  }
  .header .header-nav .navigation {
    width: 70%;
  }
  .header .header-nav .navigation_item a {
    padding: 1.375em 1.25rem 1.29688em;
  }
  .header .header-nav .header-social {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .header .header-nav .header-logo img {
    height: 40px;
    padding-left: 15px;
  }
  .header-social {
    padding: 0 15px 0 0;
  }
  .header-social a.social {
    margin: 12px 0 0 20px;
  }
}
