@charset "UTF-8";
.prices-container .btn.enquiry {
  margin: 10px 0;
}

.prices-container .price-row .package-image {
  height: 525px;
  background-size: cover;
  background-repeat: no-repeat;
}

.prices-container .price-row .package-image.fizzical-price-1 {
  background-image: url("../images/fizz_as_you_go.jpg");
}

.prices-container .price-row .package-image.fizzical-price-2 {
  background-image: url("../images/fabulous_fizz.jpg");
}

.prices-container .price-row .package-image.fizzical-price-3 {
  background-image: url("../images/fizzalicious.jpg");
}

.prices-container .price-row .package-image.fizzical-price-4 {
  background-image: url("../images/extras.jpg");
}

.prices-container .price-row .package-text {
  background-color: white;
  height: 525px;
  position: relative;
}

.prices-container .price-row .package-text .package-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.prices-container .price-row .package-text .package-container ul {
  list-style-type: none;
  -webkit-padding-start: 20px;
}

.prices-container .price-row .package-text .package-container ul li {
  font-family: "baskvl", Helvetica, Arial, sans-serif;
  list-style-position: outside;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}

.prices-container .price-row .package-text .package-container ul li:before {
  content: "–";
  /* en dash */
  position: absolute;
  margin-left: -1.1em;
}

.prices-container .price-row .package-text .package-container .package-title, .prices-container .price-row .package-text .package-container .package-price {
  color: #924e7d;
  font-family: "brownbold", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto 20px;
}

.prices-container .price-row .package-text .package-container .package-title {
  border-bottom: 1px solid #924e7d;
  padding: 0 0 10px;
  font-size: 24px;
}

.prices-container .price-row .package-text .package-container ul.package-terms li {
  font-size: 14px;
  line-height: 18px;
}

.prices-container .price-row .package-text .package-container ul.package-terms li:before {
  content: "*";
  /* en dash */
  position: absolute;
  margin-left: -1.1em;
}

.prices-container .price-row .package-text .package-container p {
  text-align: left;
  margin: 20px 0;
  font-size: 18px;
  line-height: 24px;
}
