<h2>About Us</h2>
<carousel id="mainCarousel" interval="0">
  <slide>
    <div class="slide-section">
      <div class="slide-caption">
        <p class="title-about"><span>THE VAN</span></p>
        <p>The Fizzical Co is a beautiful Italian Piaggio Ape that has been newly converted into a mobile bar serving chilled Frizzante on tap for you and your guests.</p>
        <p>We are available to hire for weddings, corporate and special events, garden parties and all other celebrations. You will also find The Fizzical Co at food fairs and festivals.</p>
      </div>
    </div>
    <div class="slide-section slide-image-1">
    </div>
  </slide>
  <slide>
    <div class="slide-section">
      <div class="slide-caption">
        <p class="title-about"><span>YOUR EVENT</span></p>
        <p>Amaze your guests with this beautiful, unique and charming van. The Fizzical Co benefits from two taps, so you have the option to have both taps serving Frizzante or one of the taps serving beer (a little something for everyone!). Just let us know what you would prefer.</p>
        <p>At a small size, The Fizzical Co is perfect for outdoor celebrations and is even able to fit through most double doors if you wish to celebrate inside!</p>
      </div>
    </div>
    <div class="slide-section slide-image-2">
    </div>
  </slide>
  <slide>
    <div class="slide-section">
      <div class="slide-caption">
        <p class="title-about"><span>OUR FIZZ</span></p>
        <p>Frizzante is a light Italian sparkling wine made from Glera Grapes, which is ideal to drink for any occasion.</p>
        <p>The sparkling wine that goes into our bottles and labelled as Prosecco is exactly the same liquid that goes into the kegs and labelled as Frizzante. Italian law states that this liquid can only be called Prosecco if it is served from a glass bottle with a volume of no more than three litres.</p>
      </div>
    </div>
    <div class="slide-section slide-image-3">
    </div>
  </slide>
</carousel>
