<h2>The Gallery</h2>
<carousel id="galleryCarousel" interval="4000">
  <slide ng-repeat="image in slides" active="image.active">
    <img ng-src="{{image.images.standard_resolution.url}}" alt="{{image.caption.text}}">
  </slide>
</carousel>

<div class="thumbnail-padding" ng-repeat="image in slides" ng-click="setActive($index)" ng-class="{'no-left' : $index === 0}">
  <div class="thumbnail" ng-class="{active: image.active}">
    <img src="{{image.images.thumbnail.url}}">
  </div>
</div>

<div id="instafeed" class="hide"></div>
