<nav class="header-nav">
  <responsive-nav>
    <div class="header-logo">
      <img alt="Brand" src="images/logo-test.png">
    </div>
    <div class="navigation">
      <ul class="navigation_list">
        <li class="navigation_item">
          <a class="link link-about" scroll-on-click href="#about">About Us</a></li>
        <li class="navigation_item">
          <a class="link link-prices" scroll-on-click href="#prices">Hire & Pricing</a>
        </li>
        <li class="navigation_item">
          <a class="link link-gallery" scroll-on-click href="#gallery">Gallery</a>
        </li>
        <li class="navigation_item">
          <a class="link link-contact" scroll-on-click href="#contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="nav_controls">
      <button type="button" class="header_switch" id="nav-switch">menu</button>
    </div>
    <div class="header-social">
      <a href="https://www.instagram.com/thefizzicalco" target="_blank" class="social instagram pull-right">instagram</a>
      <a href="https://twitter.com/thefizzicalco" target="_blank" class="social twitter pull-right">twitter</a>
      <a href="https://www.facebook.com/thefizzicalco/" target="_blank" class="social facebook pull-right">facebook</a>
    </div>
  </responsive-nav>
</nav>
