<h2>Hiring &amp; Prices</h2>

<div class="price-row">
  <div class="col-xs-6 no-padding price-column price-image">
  </div>
  <div class="col-xs-6 column price-column">
    <p>
      Fizzy Flutes is unique and can make any occasion special, with tailored packages to suit all of your needs.
      All you have to do is get in touch, let us know your budget and we can ar range a bespoke package especially for you and your guests.
    </p>
    <br/>
    <p>Our van also comes fully equipped with cordials and fresh fruits via our 'Mimosa' bar, to add that extra refreshing touch of sparkle!</p>
    <br/>
    <p>Here are couple of our typical price packages:</p>
    <br/>
    <p class="title-price"><span>FIZZ AS YOU GO PACKAGE</span> <span class="pull-right">£300</span></p>
    <p>
      – 3 hours private hire of the Prosecco Van<br/>
      – Pay by the glass (£xx)<br/>
      – Pay by the bottle: 75cl Prosecco (£20)
    </p>
    <button class="btn enquiry">enquire</button>

    <p class="title-price"><span>FIZZALICIOUS PACKAGE</span> <span class="pull-right">£650</span></p>
    <p>
      – 3 hours private hire of the Prosecco Van<br/>
      – 20L barrel of Frizzante<br/>
      – 160 disposable champagne style flutes
    </p>
    <button class="btn enquiry">enquire</button>
    <p>(We accept cash or card).</p><br/>
    <p>A member of staff will be present to serve the drinks, allowing you and your guest to relax and enjoy the occasion. However, you also have the option to get involved and let your guests serve themselves if they would prefer!</p>
  </div>
</div>

