<h2>Hire & Pricing</h2>

<div class="price-row row">
  <div class="flexing col-xs-12">
    <div class="col-sm-6 col-xs-12 package-text">
      <div class="package-container">
        <p class="package-title">Fizz as you go package</p>
        <ul>
          <li>3 hours private hire of the Prosecco van</li>
          <li>Licensed staff</li>
          <li>Pay by the glass (£5)</li>
          <li>Pay by the bottle (£15)</li>
          <li>Disposable glassware included</li>
          <li>Fruits, gins and liqueurs available to accompany the prosecco</li>
        </ul>
        <p class="package-price">£300</p>
        <button class="btn enquiry" ng-click="enquiry('Fizz As You Go Package')">enquire</button>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 package-image fizzical-price-1"></div>
    <div class="col-sm-6 col-xs-12 package-image fizzical-price-2"></div>
    <div class="col-sm-6 col-xs-12 package-text flex-first">
      <div class="package-container">
        <p class="package-title">Fabulous Fizz package</p>
        <ul>
          <li>3 hours private hire of the Prosecco van</li>
          <li>Licensed staff</li>
          <li>Half a keg of frizzante (approx 80 glasses)</li>
          <li>80 disposable champagne style flutes provided</li>
          <li>Fruits, gins and liqueurs available to accompany the prosecco</li>
        </ul>
        <p class="package-price">£350</p>
        <button class="btn enquiry" ng-click="enquiry('Fabulous Fizz Package')">enquire</button>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 package-text">
      <div class="package-container">
        <p class="package-title">Fizzalicious package</p>
        <ul>
          <li>3 hours private hire of the Prosecco van</li>
          <li>Licensed staff</li>
          <li>20 Litre barrel of frizzante (160 glasses) of Glera Frizzante</li>
          <li>160 disposable champagne style flutes provided</li>
          <li>Fruits, gins and liqueurs available to accompany the prosecco</li>
        </ul>
        <p class="package-price">£650</p>
        <button class="btn enquiry" ng-click="enquiry('Fizzalicious Package')">enquire</button>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 package-image fizzical-price-3"></div>
    <div class="col-sm-6 col-xs-12 package-image fizzical-price-4"></div>
    <div class="col-sm-6 col-xs-12 package-text">
      <div class="package-container">
        <p class="package-title">Extras</p>
        <ul>
          <li>Keg of frizzante – £300</li>
          <li>Keg of beer/cider (approx 88 pints) – £250</li>
          <li>Bottle of prosecco* – £17</li>
          <li>Extra disposable flutes – £30 for 160</li>
          <li>Extra disposable pint glasses – £20 for 90</li>
          <li>We cover a 40 mile radius of Braintree, but will have to charge 20 pence per mile thereafter</li>
        </ul>
        <p>All orders are subject to a non-refundable 20% deposit, which will need to be paid one month prior to your event.</p>
        <ul class="package-terms">
          <li>Additional bottles of prosecco will need to be pre-ordered before your event. We also offer a personalisation service for an extra £3 per bottle if desired.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

